@tailwind base;
@tailwind components;
@tailwind utilities;
html {
box-sizing: border-box;
font-size: 16px;
}
 *, *:before, *:after {
box-sizing: inherit;
  }
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
  }
ol, ul {
list-style: none;
 }
 img {
max-width: 100%;
height: auto;
 }

@layer components{
  .btn{
    @apply px-3 py-2 rounded-sm text-white font-medium bg-indigo-600 capitalize hover:bg-indigo-500 transition-all !important;
  }
  .navlinks{
    @apply text-white text-lg font-medium hover:text-indigo-600 transition-all;
  }
  .btn-pink{
    @apply text-white bg-pink-600 font-bold px-6 py-3 text-xl  hover:bg-pink-500 rounded-full shadow-md !important;
  }
  .section{
    @apply w-full grid place-items-center h-full bg-indigo-100;
  }
  .form-control{
    @apply w-full flex flex-col font-medium text-indigo-600 my-2;
  }
  .inpt{
    @apply w-full bg-indigo-200 outline-none border-none text-black p-3 md:text-lg text-base placeholder:text-indigo-600;
  }
}







